<div class="search-form mt-5 mb-4">
    <form method="post" action="">
        <div class="form-group col-md-12">
            <label for="inputEmail4">Search:</label>
            <input name="q" type="text" class="form-control" id="inputEmail4" placeholder="Input...">
            <select name="num" class="form-control">
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
                <option value="4">Four</option>
                <option value="5">Five</option>
            </select>
            <button type="submit" class="btn btn-primary mt-2">Submit</button>
        </div>
    </form>
</div>